@import "../../vars.css";

.container {
  perspective: 1000px;
  margin: 20px;
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.cardInner {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card:hover .cardInner,
.card.flipped .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 16px 14px 0 #04152d;
}

.cardFront {
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 24px;
}

.cardBack {
  background: #19376d;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 24px;
}

.image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  margin-top: 10px;
}

.description {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: center;
}

.githubLink {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.githubIcon {
  width: 70px;
  height: 70px;
  transition: transform 0.3s;
}

.githubIcon:hover {
  transform: scale(1.1);
}