.container {
  padding: 20px;
}

.title {
  font-size: 2em;
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-left: 10%;
  /* Shift the entire content to the right */
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 50%;
  /* Adjust width as needed */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
  margin-top: 10px;
  color: #fff;
  /* Set text color to white */
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.timeline {
  width: 45%;
  /* Adjust width as needed */
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #c5c5c5;
}

.timelineItem {
  position: relative;
  margin: 20px 0;
}

.timelineItem::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  top: 0;
  transform: translateX(-50%);
}

.timelineContent {
  position: relative;
  width: 45%;
  padding: 20px;
  background: #19376d;
  border-radius: 10px;
  color: #fff;
}

.timelineContent:nth-child(odd) {
  left: 0;
}

.timelineContent:nth-child(even) {
  left: 55%;
}

.timelineLogo {
  width: 50px;
  margin-bottom: 10px;
}

.timelineDetails h3 {
  font-size: 20px;
  font-weight: 500;
}

.timelineDetails p {
  font-size: 16px;
  font-weight: 300;
}

.timelineDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 14px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
    margin-left: 0;
    /* Reset margin for smaller screens */
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .timeline {
    width: 100%;
  }

  .timelineContent {
    width: 100%;
    left: 0 !important;
  }

  .timelineItem::before {
    left: 10%;
  }

  .timeline::before {
    left: 10%;
  }
}

@media screen and (min-width: 831px) {

  .skill.sql,
  .skill.freecad {
    margin-left: 170px;
    /* Push these skills to the right */
  }
}